#login-form {
    margin-top: 1px;
}

.page-form {
    max-width: 480px;
}

#body {
  padding-top: 150px;
}
.top-pad {
  margin-top: 300000px;
  padding: 40px 15px;
  text-align: center;
}

#mybody {
    margin-top: 3cm;
}